<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://github.com/sdbenezra/portfolio/#scroll">{{ site.url }}</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/sdbenezra">https://www.linkedin.com/in/sdbenezra</a></li>
  </ul>
</div>